/* Add styles for CardListDisplay component */
.custom-table {
  width: 100%;
  border: 1px solid #ddd;
  border-collapse: collapse;
  margin-top: 20px;
}

.custom-table th,
.custom-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.custom-table th {
  background-color: #2a2929;
}

.custom-table tbody tr:nth-child(even) {
  background-color: #444242;
}

.custom-table tbody tr:hover {
  background-color: #709dcd;
}

/* Add any other styles you want */
