/* CardList.css */

/* Table Styles */
.custom-table {
  width: 100%;
  border: 1px solid #ddd;
  border-collapse: collapse;
  margin-top: 20px;
}

.custom-table th, .custom-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.custom-table th {
  background-color: #2a2929;
}

.custom-table tbody tr:nth-child(even) {
  background-color: #444242;
}

.custom-table tbody tr:hover {
  background-color: #709dcd;
}

/* Button Styles */
.add-card-btn {
  background-color: #709dcd;
  color: #fff;
  padding: 10px 15px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-card-btn:hover {
  background-color: #0056b3;
}

.delete-btn {
  background-color: #dc3545;
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.delete-btn:hover {
  background-color: #c82333;
}

.edit-btn {
  background-color: #28a745;
  color: #fff;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.edit-btn:hover {
  background-color: #218838;
}

/* Search Input Styles */
.search-input {
  width: 300px;
  margin-right: 10px;
  padding: 7px 10px;
}

/* Clear Button Styles */
.clear-btn {
  background-color: #6c757d;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 7px 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.clear-btn:hover {
  background-color: #5a6268;
}
