
.App {
  background-color: #282c34;
  color:white
  
}

.App-header {
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.customCard {
  background-color: unset !important;
  font-family: Industry;
  margin-top: 10%;
}

.customCardBody {
  margin-bottom: 20px;
}

.userToggleBtn {
  padding-right: 20px;
}

